{% extends 'base.html.twig' %}

{% block body %}
<div class="coach-section">
<div class="container">
    <div class="row justify-content-md-center">

        {% for product in products %}
        
                <div class="col-lg-4">							
                    <div class="card">
                        <img src="{{ asset ('images/csgo.jpg') }}" alt="card backgroud" class="card-img ">
                        <br>
                        <br>
                        {# <img src="{{ asset ('images/img_avatar3.png') }}" alt="profile image" class="profile-img mx-auto d-block"> #}
                        <h1 style="text-align:center;">{{ product.type }}</h1> 
                        <a>{{ product.coach.firstName }} {{ product.coach.lastName }}</a>
                            <a href="{{ path ('show_product', {id: product.id}) }}" class="btn btn-primary">Detail</a>
                    </div>
                </div>           
{% endfor %}
    </div>
</div>
</div>
{% endblock %}