{% extends 'base.html.twig' %}

{% block title %} Product {% endblock %}

{% block body %}
<div class="coach-section">
<div class="container">
    <div class="row justify-content-md-center">
                <div class="col-12">							
                    <div class="card" style="width:100%;">
                        <img src="{{ asset ('images/csgo.jpg') }}" alt="card background" class="card-img" style="object-fit:contain;
                        object-position:left;">
                        <br>
                        <br>
                        <h1 style="text-align:center;">{{ product.type }}</h1>
                        <p>{{ product.description }}</p>
                        <a>{{ product.coach.firstName }} {{ product.coach.lastName }}</a>
                        <p>{{ product.price }} $</p>
                    </div>
                </div>           
    </div>
</div>
</div>
{% endblock %}
