{% extends 'base.html.twig' %}

{% block title %} Coach: {{ coach.firstName }} {{ coach.lastName }} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">Coach</h2>
            <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                <div class="q-container-show p-4">
                    <div class="row">
                        <div class="col-2 text-center">
                            <img src="{{asset ('images/tisha.png')}}" width="100" height="100">
                        </div>
                        <div class="col">
                            <h1 class="q-title-show">{{ coach.firstName }} {{ coach.lastName }}</h1>
                            <div class="q-display p-3">
                                <i class="fa fa-quote-left mr-3"></i>
                                <p class="d-inline">{{ coach.achievements }}</p>
                                <p class="pt-4"><strong>{{ coach.game }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between my-4">
        {# <h2 class="">Teams <span style="font-size:1.2rem;">({{ teams|length }})</span></h2> #}
        <button class="btn btn-sm btn-secondary">Submit a coach</button>
    </div>


    <ul class="list-unstyled">
        {% for product in products %}
            <li class="mb-4">
                <div class="d-flex justify-content-center">
                    <div class="mr-2 pt-2">
                        <img src="{{asset ('images/tisha.png')}}" width="50" height="50">
                    </div>
                    <div class="mr-3 pt-2">
                       <p>{{ product.type }}</p>Description - {{ product.description }} : {{ product.price }}$
                    </div>
                    <div class="vote-arrows flex-fill pt-2 js-vote-arrows" style="min-width: 90px;">
                        {# <a href="{{ path('product_update', {id: product.id})}}" class="btn   btn-secondary mb-3"> Product update </a> #}
                        <a class="vote-down" href="#" data-direction="down"><i class="far fa-arrow-alt-circle-down"></i></a>
                        <span><span class="js-vote-total">+ 6</span></span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('ch_update', {id: coach.id})}}" class="btn btn-secondary mb-3"> Coach update </a>
    <form action="{{ path('remove_id', { id: coach.id }) }}" method="POST" >
    <input type="hidden" name="_method" value="DELETE"/>
    <button type="submit" class="btn btn-danger">Remove coach</button>
    </form>
    {{ form(form) }}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset ('js/question_show.js') }}">     </script>
{% endblock %}