{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% else %}
        <div class="container">
            <form method="post">
            <div style="text-align: center;"><h5 class="h5 mb-3 font-weight-normal">Login</h5></div>
            <label for="inputUsername">Username</label>
            <p><input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus></p>
            <label for="inputPassword">Password</label>
            <p><input type="password" name="password" id="inputPassword" class="form-control" required></p>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
            </input>

            <button class="btn btn-primary" type="submit">
                Sign in
            </button>
            </form>
        </div>
    {% endif %}

{% endblock %}
