{% extends 'base.html.twig' %}

{% block body %}
    <div class="card text-center">
        <div class="card-header">
            <i class="fas fa-user-circle mr-2"></i>Profile 
            <form action="{{ path('user_delete', { slug: app.user.username }) }}" method="POST" >
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
             </form>
        </div>
        <div class="card-body">
            <h5 class="card-title font-weight-bold">{{ user.username }}</h5>
            <p class="card-text">
            <p><i class="fa fa-envelope mr-2"></i>{{ user.email }}</p>
        </div>
    </div>

    {% for coach in coaches %}
        {% for game in coach.games %}
            {% if coach.user == user %} 
                <div class="card float-left" style="width:20rem;margin:20px 0 24px 0">
                    <img class="card-img-top" src="/images/img_avatar3.png" alt="image" style="width:100%;height:50%">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ coach.firstName }} {{ coach.lastName }}</h4>
                            <p class="card-text text-center">{{ game.name }} </p>
                                <div class="card-footer text-center">
                                    <a href="{{ path('show_coach', { slug: coach.slug }) }}" class="btn btn-primary">See Profile</a>
                                </div>
                        </div>
                </div>
            {% endif %}   
        {% endfor %}
    {% endfor %}
    <a class="btn btn-dark float-right" href="{{ path('coach_reg') }}">Create a coach!</a>

{% endblock %}