{% extends ('base.html.twig') %}

{% block title %} User settings {% endblock %}

{% block body %}
<div class="row">
{{ form_start(form) }}
<div class="col">
{{ form_label(form.email )}}

<p>{{ app.user.email }}</p>
</div>
</div>
    {{ form_widget(form.email,{'attr': {'class': 'form-control', 'placeholder':'Enter new email'}}) }}
    <p>{{ form_row(form.plainPassword.first,{'attr': {'class': 'form-control', 'placeholder':'Enter new password'}}) }}</p>
    <p>{{ form_row(form.plainPassword.second,{'attr': {'class': 'form-control', 'placeholder':'Retype new Password'}}) }}</p>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
{{ form_end(form) }}
{% endblock %}
