{% extends ('base.html.twig') %}

{% block title %} User settings {% endblock %}
{% block body %}
{% if app.user.username != user.username and is_granted('IS_AUTHENTICATED_FULLY') %}
Permission Denied!
{% else %}
<div class="container center_div">
{{ form_start(form) }}
    <div style="text-align: center;">
        <i class="fa fa-envelope mr-2"></i> 
        {{ app.user.email }}
    </div>

    {{ form_label(form.email) }}
    {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
    <p>{{ form_row(form.plainPassword.first,{'attr': {'class': 'form-control'}}) }}</p>
    <p>{{ form_row(form.plainPassword.second,{'attr': {'class': 'form-control'}}) }}</p>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
{{ form_end(form) }}
</div>
{% endif %}
{% endblock %}

